--
-- PostgreSQL database dump
--

\restrict wzCP3RbuFSTHCwhZGyciqzKlUag1N8rOVt9Ob731PKwTVjW9wM6UbcKqfgpbdsk

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	users	user
6	crackers	category
7	crackers	product
8	sessions	session
9	users	role
10	crackers	unit
11	crackers	cartitem
12	crackers	customer
13	crackers	onlinesales
14	crackers	onlinesalesitem
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.categories (id, name, image, description, created_at, updated_at, is_active, "order") FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.users (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined, phone, address) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.products (id, name, code, price, original_price, image, description, content, qty, is_active, created_at, updated_at, category_id) FROM stdin;
\.


--
-- Data for Name: tbl_country; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tbl_country (id, name, code, "isActive", "createdBy", "createdDt", "updatedDt") FROM stdin;
1	India	IN	t	1	2026-03-21 04:08:42.258506+00	2026-03-21 04:08:42.259091+00
\.


--
-- Data for Name: tbl_state; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: tbl_city; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: tbl_company; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tbl_company (id, logo, name, "shortName", address1, address2, countryid, stateid, cityid, "emailId", "mobileNo", "whatsappNo", currency, "fyStart", "appDateFormat", "appColorCode", "branchLimit", "userLimit", isseparatedb, dbname, "isActive", "createdBy", "createdDt", "updatedDt", "updatedBy") FROM stdin;
1	\N	Auraa Zen AI	Auraa	\N	\N	\N	\N	\N	\N	7358377381	\N	\N	\N	\N	\N	\N	\N	\N	\N	t	1	2026-03-20 18:13:02.125927+00	2026-03-20 18:13:02.125927+00	\N
\.


--
-- Data for Name: tbl_branch; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tbl_branch (id, logo, name, "shortName", address1, address2, countryid, stateid, cityid, "emailId", "mobileNo", "whatsappNo", currency, "fyStart", "appDateFormat", "appColorCode", "companyId", "isActive", "createdBy", "createdDt", "updatedDt", "updatedBy") FROM stdin;
1	\N	Auraa Crackers	Auraa	\N	\N	\N	\N	\N	\N	7358377381	\N	\N	\N	\N	\N	\N	t	1	2026-03-20 18:14:29.277424+00	2026-03-20 18:14:29.277424+00	\N
\.


--
-- Data for Name: tbl_category; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: tbl_websitelist; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tbl_websitelist (id, "websiteName", "companyId", "branchId", "isActive", "createdBy", "createdDt", "updatedBy", "updatedDt") FROM stdin;
1	AuraaBooks	1	1	t	1	2026-03-20 18:16:29.29733+00	\N	2026-03-20 18:16:29.29733+00
2	AuraaCrackers	1	1	t	1	2026-03-20 18:16:29.29733+00	\N	2026-03-20 18:16:29.29733+00
\.


--
-- Data for Name: tbl_customer; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tbl_customer (id, name, company, "contactPerson", "contactPersonNo", "accountId", balance, "taxId", "isOnline", "websiteId", "companyId", "branchId", "isActive", "createdBy", "createdDt", "updatedDt", "updatedBy") FROM stdin;
\.


--
-- Data for Name: tbl_units; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tbl_units (id, name, code, descr, "convFactor", "companyId", "branchId", "isActive", "createdBy", "createdDt", "updatedDt", "updatedBy") FROM stdin;
\.


--
-- Data for Name: tbl_items; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: tbl_role; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tbl_role (id, name, descr, "companyId", "branchId", "isActive", "createdBy", "createdDt", "updatedDt", "updatedBy") FROM stdin;
1	Super Admin	\N	1	1	t	\N	2026-03-20 18:16:29.30569+00	2026-03-20 18:16:29.30569+00	\N
2	Admin	\N	1	1	t	\N	2026-03-20 18:16:29.30569+00	2026-03-20 18:16:29.30569+00	\N
3	Online Customers	\N	1	1	t	\N	2026-03-20 18:16:29.30569+00	2026-03-20 18:16:29.30569+00	\N
4	Users	\N	1	1	t	\N	2026-03-20 18:16:29.30569+00	2026-03-20 18:16:29.30569+00	\N
\.


--
-- Data for Name: tbl_users; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tbl_users (id, "userName", "fullName", "mobileNo", "emailId", password, "roleId", "companyId", "branchId", "lastLogin", "passwordResetToken", "onlineCustomerId", "isActive", "createdBy", "createdDt", "updatedDt", "updatedBy") FROM stdin;
\.


--
-- Data for Name: tbl_cart; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tbl_cart (id, "userId", "itemId", quantity, "companyId", "branchId", "isActive", "createdBy", "createdDt", "updatedDt", "updatedBy") FROM stdin;
\.


--
-- Data for Name: tbl_coupons; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tbl_coupons (id, "couponName", "couponCode", "couponPer", description, "companyId", "branchId", "isActive", "createdBy", "createdDt", "updatedDt", "updatedBy", "websiteId") FROM stdin;
1	AuraaChit	2026Chit	10.00	\N	1	1	f	\N	2026-03-21 10:49:34.010862+00	2026-03-22 01:17:26.747384+00	\N	2
\.


--
-- Data for Name: tbl_customer_addr; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tbl_customer_addr (id, "customerId", address1, address2, "countryId", "stateId", "cityId", pincode, phone, "emailId", "whatsappNo", "isActive", "createdBy", "createdDt", "updatedDt", "updatedBy", "companyId", "branchId", "isShippingDefault") FROM stdin;
\.


--
-- Data for Name: tbl_online_sales; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tbl_online_sales (id, customerid, customeraddrid, "websiteId", transno, transdt, status, discountcode, discountper, discount, totalamt, roundamt, "grandAmt", "companyId", "branchId", "isActive", "createdBy", "createdDt", "updatedDt", "updatedBy") FROM stdin;
\.


--
-- Data for Name: tbl_onlinesales_items; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tbl_onlinesales_items (id, "onlineSalesId", "itemId", "itemName", "itemCode", rate, mrp, qty, "freeQty", "discountPer", "discountAmt", unit, "taxPer", "taxName", "taxAmt", "itemTotal", "companyId", "branchId", "isActive", "createdBy", "createdDt", "updatedDt", "updatedBy") FROM stdin;
\.


--
-- Data for Name: tbl_pricelist; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tbl_pricelist (id, "listName", "listDesc", "companyId", "branchId", "isActive", "createdBy", "createdDt", "updatedDt", "updatedBy") FROM stdin;
\.


--
-- Data for Name: tbl_pricelist_items; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tbl_pricelist_items (id, "pricelistId", "itemId", unit, "purchaseRate", "purchaseRateInc", "sellingPrice", "customerSp", "shownValues", "shownValueDisc", "salesCost", "companyId", "branchId", "isActive", "createdBy", "createdDt", "updatedDt", "updatedBy") FROM stdin;
\.


--
-- Data for Name: tbl_serialno; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tbl_serialno (id, "tableName", "prefixNo", "nextNo", "suffixNo", "companyId", "branchId", "isActive", "createdBy", "createdDt", "updatedDt", "updatedBy", "sequenceNo") FROM stdin;
1	tbl_online_sales	SO	202600	\N	1	1	t	\N	2026-03-20 18:16:29.302391+00	2026-03-22 00:54:12.446177+00	\N	2
\.


--
-- Data for Name: tbl_users_addr; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tbl_users_addr (id, userid, address, countryid, stateid, city, pincode, isactive, createdby, createddt, updateddt, updatedby) FROM stdin;
\.


--
-- Data for Name: users_groups; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.users_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: users_user_permissions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.users_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 56, true);


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.categories_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 14, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 39, true);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.products_id_seq', 1, false);


--
-- Name: tbl_branch_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tbl_branch_id_seq', 1, true);


--
-- Name: tbl_cart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tbl_cart_id_seq', 1, false);


--
-- Name: tbl_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tbl_category_id_seq', 1, false);


--
-- Name: tbl_city_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tbl_city_id_seq', 122, true);


--
-- Name: tbl_company_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tbl_company_id_seq', 1, true);


--
-- Name: tbl_country_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tbl_country_id_seq', 1, true);


--
-- Name: tbl_coupons_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tbl_coupons_id_seq', 1, true);


--
-- Name: tbl_customer_addr_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tbl_customer_addr_id_seq', 1, false);


--
-- Name: tbl_customer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tbl_customer_id_seq', 1, false);


--
-- Name: tbl_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tbl_items_id_seq', 1, false);


--
-- Name: tbl_online_sales_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tbl_online_sales_id_seq', 1, false);


--
-- Name: tbl_onlinesales_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tbl_onlinesales_items_id_seq', 1, false);


--
-- Name: tbl_pricelist_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tbl_pricelist_id_seq', 1, false);


--
-- Name: tbl_pricelist_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tbl_pricelist_items_id_seq', 1, false);


--
-- Name: tbl_role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tbl_role_id_seq', 4, true);


--
-- Name: tbl_serialno_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tbl_serialno_id_seq', 1, true);


--
-- Name: tbl_state_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tbl_state_id_seq', 36, true);


--
-- Name: tbl_units_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tbl_units_id_seq', 1, false);


--
-- Name: tbl_users_addr_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tbl_users_addr_id_seq', 1, false);


--
-- Name: tbl_users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tbl_users_id_seq', 1, false);


--
-- Name: tbl_websitelist_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tbl_websitelist_id_seq', 2, true);


--
-- Name: users_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_groups_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: users_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_user_permissions_id_seq', 1, false);


--
-- PostgreSQL database dump complete
--

\unrestrict wzCP3RbuFSTHCwhZGyciqzKlUag1N8rOVt9Ob731PKwTVjW9wM6UbcKqfgpbdsk

