--
-- PostgreSQL database dump
--

\restrict LNtFYenZnT3ku6XjMudlMVatNcFVhp1MMrmwwHiNgnM5pMF0NgFwG8IpkIz8Irr

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: auraauser
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO auraauser;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: auraauser
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO auraauser;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO auraauser;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO auraauser;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: categories; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.categories (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    image character varying(1000),
    description text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_active boolean NOT NULL,
    "order" integer NOT NULL
);


ALTER TABLE public.categories OWNER TO auraauser;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

ALTER TABLE public.categories ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO auraauser;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO auraauser;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO auraauser;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO auraauser;

--
-- Name: products; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.products (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    code character varying(100),
    price numeric(12,2) NOT NULL,
    original_price numeric(12,2),
    image character varying(1000),
    description text,
    content text,
    qty character varying(100),
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    category_id bigint NOT NULL
);


ALTER TABLE public.products OWNER TO auraauser;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

ALTER TABLE public.products ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tbl_branch; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.tbl_branch (
    id integer NOT NULL,
    logo text,
    name character varying(255),
    "shortName" character varying(50),
    address1 text,
    address2 text,
    countryid integer,
    stateid integer,
    cityid integer,
    "emailId" character varying(255),
    "mobileNo" character varying(20),
    "whatsappNo" character varying(20),
    currency character varying(10),
    "fyStart" date,
    "appDateFormat" character varying(50),
    "appColorCode" character varying(20),
    "companyId" integer,
    "isActive" boolean DEFAULT true,
    "createdBy" integer,
    "createdDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedBy" integer
);


ALTER TABLE public.tbl_branch OWNER TO auraauser;

--
-- Name: tbl_branch_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

CREATE SEQUENCE public.tbl_branch_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tbl_branch_id_seq OWNER TO auraauser;

--
-- Name: tbl_branch_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: auraauser
--

ALTER SEQUENCE public.tbl_branch_id_seq OWNED BY public.tbl_branch.id;


--
-- Name: tbl_cart; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.tbl_cart (
    id integer NOT NULL,
    "userId" integer,
    "itemId" integer,
    quantity integer DEFAULT 1,
    "companyId" integer,
    "branchId" integer,
    "isActive" integer DEFAULT 1,
    "createdBy" integer,
    "createdDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedBy" integer
);


ALTER TABLE public.tbl_cart OWNER TO auraauser;

--
-- Name: tbl_cart_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

CREATE SEQUENCE public.tbl_cart_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tbl_cart_id_seq OWNER TO auraauser;

--
-- Name: tbl_cart_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: auraauser
--

ALTER SEQUENCE public.tbl_cart_id_seq OWNED BY public.tbl_cart.id;


--
-- Name: tbl_category; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.tbl_category (
    id integer NOT NULL,
    "categoryName" character varying(150),
    "categoryImage" text,
    "sortNo" integer DEFAULT 0,
    "companyId" integer,
    "branchId" integer,
    "isActive" boolean DEFAULT true,
    "createdBy" integer,
    "createdDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedBy" integer
);


ALTER TABLE public.tbl_category OWNER TO auraauser;

--
-- Name: tbl_category_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

CREATE SEQUENCE public.tbl_category_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tbl_category_id_seq OWNER TO auraauser;

--
-- Name: tbl_category_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: auraauser
--

ALTER SEQUENCE public.tbl_category_id_seq OWNED BY public.tbl_category.id;


--
-- Name: tbl_city; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.tbl_city (
    id integer NOT NULL,
    "stateId" integer,
    name character varying(100),
    code character varying(10),
    "isActive" boolean DEFAULT true,
    "createdBy" integer,
    "createdDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.tbl_city OWNER TO auraauser;

--
-- Name: tbl_city_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

CREATE SEQUENCE public.tbl_city_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tbl_city_id_seq OWNER TO auraauser;

--
-- Name: tbl_city_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: auraauser
--

ALTER SEQUENCE public.tbl_city_id_seq OWNED BY public.tbl_city.id;


--
-- Name: tbl_company; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.tbl_company (
    id integer NOT NULL,
    logo text,
    name character varying(255),
    "shortName" character varying(50),
    address1 text,
    address2 text,
    countryid integer,
    stateid integer,
    cityid integer,
    "emailId" character varying(255),
    "mobileNo" character varying(20),
    "whatsappNo" character varying(20),
    currency character varying(10),
    "fyStart" date,
    "appDateFormat" character varying(50),
    "appColorCode" character varying(20),
    "branchLimit" integer,
    "userLimit" integer,
    isseparatedb boolean,
    dbname character varying(100),
    "isActive" boolean DEFAULT true,
    "createdBy" integer,
    "createdDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedBy" integer
);


ALTER TABLE public.tbl_company OWNER TO auraauser;

--
-- Name: tbl_company_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

CREATE SEQUENCE public.tbl_company_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tbl_company_id_seq OWNER TO auraauser;

--
-- Name: tbl_company_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: auraauser
--

ALTER SEQUENCE public.tbl_company_id_seq OWNED BY public.tbl_company.id;


--
-- Name: tbl_country; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.tbl_country (
    id integer NOT NULL,
    name character varying(100),
    code character varying(10),
    "isActive" boolean DEFAULT true,
    "createdBy" integer,
    "createdDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.tbl_country OWNER TO auraauser;

--
-- Name: tbl_country_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

CREATE SEQUENCE public.tbl_country_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tbl_country_id_seq OWNER TO auraauser;

--
-- Name: tbl_country_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: auraauser
--

ALTER SEQUENCE public.tbl_country_id_seq OWNED BY public.tbl_country.id;


--
-- Name: tbl_coupons; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.tbl_coupons (
    id integer NOT NULL,
    "couponName" character varying(150),
    "couponCode" character varying(50),
    "couponPer" numeric(5,2) DEFAULT 0.00,
    description text,
    "companyId" integer,
    "branchId" integer,
    "isActive" boolean DEFAULT true,
    "createdBy" integer,
    "createdDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedBy" integer,
    "websiteId" integer DEFAULT 2
);


ALTER TABLE public.tbl_coupons OWNER TO auraauser;

--
-- Name: tbl_coupons_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

CREATE SEQUENCE public.tbl_coupons_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tbl_coupons_id_seq OWNER TO auraauser;

--
-- Name: tbl_coupons_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: auraauser
--

ALTER SEQUENCE public.tbl_coupons_id_seq OWNED BY public.tbl_coupons.id;


--
-- Name: tbl_customer; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.tbl_customer (
    id integer NOT NULL,
    name character varying(255),
    company character varying(100),
    "contactPerson" character varying(150),
    "contactPersonNo" character varying(20),
    "accountId" integer,
    balance numeric(15,2) DEFAULT 0.00,
    "taxId" character varying(50),
    "isOnline" boolean DEFAULT true,
    "websiteId" integer,
    "companyId" integer,
    "branchId" integer,
    "isActive" boolean DEFAULT true,
    "createdBy" integer,
    "createdDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedBy" integer
);


ALTER TABLE public.tbl_customer OWNER TO auraauser;

--
-- Name: tbl_customer_addr; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.tbl_customer_addr (
    id integer NOT NULL,
    "customerId" integer,
    address1 text,
    address2 text,
    "countryId" integer,
    "stateId" integer,
    "cityId" integer,
    pincode character varying(20),
    phone character varying(20),
    "emailId" character varying(255),
    "whatsappNo" character varying(20),
    "isActive" boolean DEFAULT true,
    "createdBy" integer,
    "createdDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedBy" integer,
    "companyId" integer DEFAULT 1,
    "branchId" integer DEFAULT 1,
    "isShippingDefault" boolean DEFAULT false
);


ALTER TABLE public.tbl_customer_addr OWNER TO auraauser;

--
-- Name: tbl_customer_addr_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

CREATE SEQUENCE public.tbl_customer_addr_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tbl_customer_addr_id_seq OWNER TO auraauser;

--
-- Name: tbl_customer_addr_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: auraauser
--

ALTER SEQUENCE public.tbl_customer_addr_id_seq OWNED BY public.tbl_customer_addr.id;


--
-- Name: tbl_customer_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

CREATE SEQUENCE public.tbl_customer_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tbl_customer_id_seq OWNER TO auraauser;

--
-- Name: tbl_customer_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: auraauser
--

ALTER SEQUENCE public.tbl_customer_id_seq OWNED BY public.tbl_customer.id;


--
-- Name: tbl_items; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.tbl_items (
    id integer NOT NULL,
    "categoryId" integer,
    "itemCode" character varying(50),
    "itemName" character varying(255),
    "itemImage" text,
    "itemType" character varying(1) DEFAULT 'G'::character varying,
    "unitId" integer,
    "isSales" integer DEFAULT 1,
    "saleRate" numeric(15,2) DEFAULT 0.00,
    "saleDesc" text,
    "purchaseRate" numeric(15,2) DEFAULT 0.00,
    mrp numeric(15,2) DEFAULT 0.00,
    "taxId" integer,
    "accountId" integer,
    "minOrdQty" numeric(15,3) DEFAULT 0.00,
    "discountPer" numeric(5,2) DEFAULT 0.00,
    discount numeric(15,2) DEFAULT 0.00,
    "freeQty" numeric(15,3) DEFAULT 0.00,
    "locationId" integer,
    "openingQty" numeric(15,3) DEFAULT 0.00,
    "sortNo" integer DEFAULT 0,
    "isDisabled" integer DEFAULT 0,
    "companyId" integer,
    "branchId" integer,
    "isActive" boolean DEFAULT true,
    "createdBy" integer,
    "createdDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedBy" integer
);


ALTER TABLE public.tbl_items OWNER TO auraauser;

--
-- Name: tbl_items_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

CREATE SEQUENCE public.tbl_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tbl_items_id_seq OWNER TO auraauser;

--
-- Name: tbl_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: auraauser
--

ALTER SEQUENCE public.tbl_items_id_seq OWNED BY public.tbl_items.id;


--
-- Name: tbl_online_sales; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.tbl_online_sales (
    id integer NOT NULL,
    customerid integer,
    customeraddrid integer,
    "websiteId" integer,
    transno character varying(50),
    transdt timestamp with time zone,
    status character varying(20) DEFAULT 'New'::character varying,
    discountcode character varying(50),
    discountper numeric(5,2) DEFAULT 0.00,
    discount numeric(15,2) DEFAULT 0.00,
    totalamt numeric(15,2) DEFAULT 0.00,
    roundamt numeric(5,2) DEFAULT 0.00,
    "grandAmt" numeric(15,2) DEFAULT 0.00,
    "companyId" integer,
    "branchId" integer,
    "isActive" boolean DEFAULT true,
    "createdBy" integer,
    "createdDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedBy" integer
);


ALTER TABLE public.tbl_online_sales OWNER TO auraauser;

--
-- Name: tbl_online_sales_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

CREATE SEQUENCE public.tbl_online_sales_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tbl_online_sales_id_seq OWNER TO auraauser;

--
-- Name: tbl_online_sales_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: auraauser
--

ALTER SEQUENCE public.tbl_online_sales_id_seq OWNED BY public.tbl_online_sales.id;


--
-- Name: tbl_onlinesales_items; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.tbl_onlinesales_items (
    id integer NOT NULL,
    "onlineSalesId" integer,
    "itemId" integer,
    "itemName" character varying(255),
    "itemCode" character varying(50),
    rate numeric(15,2) DEFAULT 0.00,
    mrp numeric(15,2) DEFAULT 0.00,
    qty numeric(15,3),
    "freeQty" numeric(15,3) DEFAULT 0.00,
    "discountPer" numeric(5,2) DEFAULT 0.00,
    "discountAmt" numeric(15,2) DEFAULT 0.00,
    unit character varying(50),
    "taxPer" numeric(5,2) DEFAULT 0.00,
    "taxName" character varying(100),
    "taxAmt" numeric(15,2) DEFAULT 0.00,
    "itemTotal" numeric(15,2),
    "companyId" integer,
    "branchId" integer,
    "isActive" boolean DEFAULT true,
    "createdBy" integer,
    "createdDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedBy" integer
);


ALTER TABLE public.tbl_onlinesales_items OWNER TO auraauser;

--
-- Name: tbl_onlinesales_items_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

CREATE SEQUENCE public.tbl_onlinesales_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tbl_onlinesales_items_id_seq OWNER TO auraauser;

--
-- Name: tbl_onlinesales_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: auraauser
--

ALTER SEQUENCE public.tbl_onlinesales_items_id_seq OWNED BY public.tbl_onlinesales_items.id;


--
-- Name: tbl_pricelist; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.tbl_pricelist (
    id integer NOT NULL,
    "listName" character varying(150),
    "listDesc" text,
    "companyId" integer,
    "branchId" integer,
    "isActive" integer DEFAULT 1,
    "createdBy" integer,
    "createdDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedBy" integer
);


ALTER TABLE public.tbl_pricelist OWNER TO auraauser;

--
-- Name: tbl_pricelist_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

CREATE SEQUENCE public.tbl_pricelist_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tbl_pricelist_id_seq OWNER TO auraauser;

--
-- Name: tbl_pricelist_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: auraauser
--

ALTER SEQUENCE public.tbl_pricelist_id_seq OWNED BY public.tbl_pricelist.id;


--
-- Name: tbl_pricelist_items; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.tbl_pricelist_items (
    id integer NOT NULL,
    "pricelistId" integer,
    "itemId" integer,
    unit character varying(50),
    "purchaseRate" numeric(15,2) DEFAULT 0.00,
    "purchaseRateInc" numeric(15,2) DEFAULT 0.00,
    "sellingPrice" numeric(15,2) DEFAULT 0.00,
    "customerSp" numeric(15,2) DEFAULT 0.00,
    "shownValues" numeric(15,2) DEFAULT 0.00,
    "shownValueDisc" numeric(5,2) DEFAULT 0.00,
    "salesCost" numeric(15,2) DEFAULT 0.00,
    "companyId" integer,
    "branchId" integer,
    "isActive" integer DEFAULT 1,
    "createdBy" integer,
    "createdDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedBy" integer
);


ALTER TABLE public.tbl_pricelist_items OWNER TO auraauser;

--
-- Name: tbl_pricelist_items_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

CREATE SEQUENCE public.tbl_pricelist_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tbl_pricelist_items_id_seq OWNER TO auraauser;

--
-- Name: tbl_pricelist_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: auraauser
--

ALTER SEQUENCE public.tbl_pricelist_items_id_seq OWNED BY public.tbl_pricelist_items.id;


--
-- Name: tbl_role; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.tbl_role (
    id integer NOT NULL,
    name character varying(100),
    descr text,
    "companyId" integer,
    "branchId" integer,
    "isActive" boolean DEFAULT true,
    "createdBy" integer,
    "createdDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedBy" integer
);


ALTER TABLE public.tbl_role OWNER TO auraauser;

--
-- Name: tbl_role_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

CREATE SEQUENCE public.tbl_role_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tbl_role_id_seq OWNER TO auraauser;

--
-- Name: tbl_role_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: auraauser
--

ALTER SEQUENCE public.tbl_role_id_seq OWNED BY public.tbl_role.id;


--
-- Name: tbl_serialno; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.tbl_serialno (
    id integer NOT NULL,
    "tableName" character varying(100),
    "prefixNo" character varying(20),
    "nextNo" integer DEFAULT 1,
    "suffixNo" character varying(20),
    "companyId" integer,
    "branchId" integer,
    "isActive" boolean DEFAULT true,
    "createdBy" integer,
    "createdDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedBy" integer,
    "sequenceNo" integer DEFAULT 1
);


ALTER TABLE public.tbl_serialno OWNER TO auraauser;

--
-- Name: tbl_serialno_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

CREATE SEQUENCE public.tbl_serialno_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tbl_serialno_id_seq OWNER TO auraauser;

--
-- Name: tbl_serialno_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: auraauser
--

ALTER SEQUENCE public.tbl_serialno_id_seq OWNED BY public.tbl_serialno.id;


--
-- Name: tbl_state; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.tbl_state (
    id integer NOT NULL,
    "countryId" integer,
    name character varying(100),
    code character varying(10),
    "isActive" boolean DEFAULT true,
    "createdBy" integer,
    "createdDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.tbl_state OWNER TO auraauser;

--
-- Name: tbl_state_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

CREATE SEQUENCE public.tbl_state_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tbl_state_id_seq OWNER TO auraauser;

--
-- Name: tbl_state_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: auraauser
--

ALTER SEQUENCE public.tbl_state_id_seq OWNED BY public.tbl_state.id;


--
-- Name: tbl_units; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.tbl_units (
    id integer NOT NULL,
    name character varying(100),
    code character varying(20),
    descr text,
    "convFactor" numeric(15,6) DEFAULT 1.00,
    "companyId" integer,
    "branchId" integer,
    "isActive" boolean DEFAULT true,
    "createdBy" integer,
    "createdDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedBy" integer
);


ALTER TABLE public.tbl_units OWNER TO auraauser;

--
-- Name: tbl_units_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

CREATE SEQUENCE public.tbl_units_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tbl_units_id_seq OWNER TO auraauser;

--
-- Name: tbl_units_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: auraauser
--

ALTER SEQUENCE public.tbl_units_id_seq OWNED BY public.tbl_units.id;


--
-- Name: tbl_users; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.tbl_users (
    id integer NOT NULL,
    "userName" character varying(150),
    "fullName" character varying(255),
    "mobileNo" character varying(20),
    "emailId" character varying(255),
    password character varying(255),
    "roleId" integer,
    "companyId" integer,
    "branchId" integer,
    "lastLogin" timestamp with time zone,
    "passwordResetToken" character varying(255),
    "onlineCustomerId" integer,
    "isActive" boolean DEFAULT true,
    "createdBy" integer,
    "createdDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedBy" integer
);


ALTER TABLE public.tbl_users OWNER TO auraauser;

--
-- Name: tbl_users_addr; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.tbl_users_addr (
    id integer NOT NULL,
    userid integer,
    address text,
    countryid integer,
    stateid integer,
    city character varying(100),
    pincode character varying(20),
    isactive boolean DEFAULT true,
    createdby integer,
    createddt timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updateddt timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updatedby integer
);


ALTER TABLE public.tbl_users_addr OWNER TO auraauser;

--
-- Name: tbl_users_addr_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

CREATE SEQUENCE public.tbl_users_addr_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tbl_users_addr_id_seq OWNER TO auraauser;

--
-- Name: tbl_users_addr_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: auraauser
--

ALTER SEQUENCE public.tbl_users_addr_id_seq OWNED BY public.tbl_users_addr.id;


--
-- Name: tbl_users_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

CREATE SEQUENCE public.tbl_users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tbl_users_id_seq OWNER TO auraauser;

--
-- Name: tbl_users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: auraauser
--

ALTER SEQUENCE public.tbl_users_id_seq OWNED BY public.tbl_users.id;


--
-- Name: tbl_websitelist; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.tbl_websitelist (
    id integer NOT NULL,
    "websiteName" character varying(255),
    "companyId" integer,
    "branchId" integer,
    "isActive" boolean DEFAULT true,
    "createdBy" integer,
    "createdDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedBy" integer,
    "updatedDt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.tbl_websitelist OWNER TO auraauser;

--
-- Name: tbl_websitelist_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

CREATE SEQUENCE public.tbl_websitelist_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tbl_websitelist_id_seq OWNER TO auraauser;

--
-- Name: tbl_websitelist_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: auraauser
--

ALTER SEQUENCE public.tbl_websitelist_id_seq OWNED BY public.tbl_websitelist.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    phone character varying(15),
    address text
);


ALTER TABLE public.users OWNER TO auraauser;

--
-- Name: users_groups; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.users_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.users_groups OWNER TO auraauser;

--
-- Name: users_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

ALTER TABLE public.users_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_permissions; Type: TABLE; Schema: public; Owner: auraauser
--

CREATE TABLE public.users_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.users_user_permissions OWNER TO auraauser;

--
-- Name: users_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: auraauser
--

ALTER TABLE public.users_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tbl_branch id; Type: DEFAULT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_branch ALTER COLUMN id SET DEFAULT nextval('public.tbl_branch_id_seq'::regclass);


--
-- Name: tbl_cart id; Type: DEFAULT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_cart ALTER COLUMN id SET DEFAULT nextval('public.tbl_cart_id_seq'::regclass);


--
-- Name: tbl_category id; Type: DEFAULT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_category ALTER COLUMN id SET DEFAULT nextval('public.tbl_category_id_seq'::regclass);


--
-- Name: tbl_city id; Type: DEFAULT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_city ALTER COLUMN id SET DEFAULT nextval('public.tbl_city_id_seq'::regclass);


--
-- Name: tbl_company id; Type: DEFAULT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_company ALTER COLUMN id SET DEFAULT nextval('public.tbl_company_id_seq'::regclass);


--
-- Name: tbl_country id; Type: DEFAULT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_country ALTER COLUMN id SET DEFAULT nextval('public.tbl_country_id_seq'::regclass);


--
-- Name: tbl_coupons id; Type: DEFAULT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_coupons ALTER COLUMN id SET DEFAULT nextval('public.tbl_coupons_id_seq'::regclass);


--
-- Name: tbl_customer id; Type: DEFAULT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_customer ALTER COLUMN id SET DEFAULT nextval('public.tbl_customer_id_seq'::regclass);


--
-- Name: tbl_customer_addr id; Type: DEFAULT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_customer_addr ALTER COLUMN id SET DEFAULT nextval('public.tbl_customer_addr_id_seq'::regclass);


--
-- Name: tbl_items id; Type: DEFAULT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_items ALTER COLUMN id SET DEFAULT nextval('public.tbl_items_id_seq'::regclass);


--
-- Name: tbl_online_sales id; Type: DEFAULT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_online_sales ALTER COLUMN id SET DEFAULT nextval('public.tbl_online_sales_id_seq'::regclass);


--
-- Name: tbl_onlinesales_items id; Type: DEFAULT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_onlinesales_items ALTER COLUMN id SET DEFAULT nextval('public.tbl_onlinesales_items_id_seq'::regclass);


--
-- Name: tbl_pricelist id; Type: DEFAULT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_pricelist ALTER COLUMN id SET DEFAULT nextval('public.tbl_pricelist_id_seq'::regclass);


--
-- Name: tbl_pricelist_items id; Type: DEFAULT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_pricelist_items ALTER COLUMN id SET DEFAULT nextval('public.tbl_pricelist_items_id_seq'::regclass);


--
-- Name: tbl_role id; Type: DEFAULT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_role ALTER COLUMN id SET DEFAULT nextval('public.tbl_role_id_seq'::regclass);


--
-- Name: tbl_serialno id; Type: DEFAULT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_serialno ALTER COLUMN id SET DEFAULT nextval('public.tbl_serialno_id_seq'::regclass);


--
-- Name: tbl_state id; Type: DEFAULT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_state ALTER COLUMN id SET DEFAULT nextval('public.tbl_state_id_seq'::regclass);


--
-- Name: tbl_units id; Type: DEFAULT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_units ALTER COLUMN id SET DEFAULT nextval('public.tbl_units_id_seq'::regclass);


--
-- Name: tbl_users id; Type: DEFAULT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_users ALTER COLUMN id SET DEFAULT nextval('public.tbl_users_id_seq'::regclass);


--
-- Name: tbl_users_addr id; Type: DEFAULT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_users_addr ALTER COLUMN id SET DEFAULT nextval('public.tbl_users_addr_id_seq'::regclass);


--
-- Name: tbl_websitelist id; Type: DEFAULT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_websitelist ALTER COLUMN id SET DEFAULT nextval('public.tbl_websitelist_id_seq'::regclass);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: auraauser
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: auraauser
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: auraauser
--



--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: auraauser
--

COPY public.categories (id, name, image, description, created_at, updated_at, is_active, "order") FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: auraauser
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: auraauser
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	users	user
6	crackers	category
7	crackers	product
8	sessions	session
9	users	role
10	crackers	unit
11	crackers	cartitem
12	crackers	customer
13	crackers	onlinesales
14	crackers	onlinesalesitem
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: auraauser
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: auraauser
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: auraauser
--

COPY public.products (id, name, code, price, original_price, image, description, content, qty, is_active, created_at, updated_at, category_id) FROM stdin;
\.


--
-- Data for Name: tbl_branch; Type: TABLE DATA; Schema: public; Owner: auraauser
--

COPY public.tbl_branch (id, logo, name, "shortName", address1, address2, countryid, stateid, cityid, "emailId", "mobileNo", "whatsappNo", currency, "fyStart", "appDateFormat", "appColorCode", "companyId", "isActive", "createdBy", "createdDt", "updatedDt", "updatedBy") FROM stdin;
1	\N	Auraa Crackers	Auraa	\N	\N	\N	\N	\N	\N	7358377381	\N	\N	\N	\N	\N	\N	t	1	2026-03-20 18:14:29.277424+00	2026-03-20 18:14:29.277424+00	\N
\.


--
-- Data for Name: tbl_cart; Type: TABLE DATA; Schema: public; Owner: auraauser
--

COPY public.tbl_cart (id, "userId", "itemId", quantity, "companyId", "branchId", "isActive", "createdBy", "createdDt", "updatedDt", "updatedBy") FROM stdin;
\.


--
-- Data for Name: tbl_category; Type: TABLE DATA; Schema: public; Owner: auraauser
--



--
-- Data for Name: tbl_city; Type: TABLE DATA; Schema: public; Owner: auraauser
--



--
-- Data for Name: tbl_company; Type: TABLE DATA; Schema: public; Owner: auraauser
--

COPY public.tbl_company (id, logo, name, "shortName", address1, address2, countryid, stateid, cityid, "emailId", "mobileNo", "whatsappNo", currency, "fyStart", "appDateFormat", "appColorCode", "branchLimit", "userLimit", isseparatedb, dbname, "isActive", "createdBy", "createdDt", "updatedDt", "updatedBy") FROM stdin;
1	\N	Auraa Zen AI	Auraa	\N	\N	\N	\N	\N	\N	7358377381	\N	\N	\N	\N	\N	\N	\N	\N	\N	t	1	2026-03-20 18:13:02.125927+00	2026-03-20 18:13:02.125927+00	\N
\.


--
-- Data for Name: tbl_country; Type: TABLE DATA; Schema: public; Owner: auraauser
--

COPY public.tbl_country (id, name, code, "isActive", "createdBy", "createdDt", "updatedDt") FROM stdin;
1	India	IN	t	1	2026-03-21 04:08:42.258506+00	2026-03-21 04:08:42.259091+00
\.


--
-- Data for Name: tbl_coupons; Type: TABLE DATA; Schema: public; Owner: auraauser
--

COPY public.tbl_coupons (id, "couponName", "couponCode", "couponPer", description, "companyId", "branchId", "isActive", "createdBy", "createdDt", "updatedDt", "updatedBy", "websiteId") FROM stdin;
1	AuraaChit	2026Chit	10.00	\N	1	1	f	\N	2026-03-21 10:49:34.010862+00	2026-03-22 01:17:26.747384+00	\N	2
\.


--
-- Data for Name: tbl_customer; Type: TABLE DATA; Schema: public; Owner: auraauser
--

COPY public.tbl_customer (id, name, company, "contactPerson", "contactPersonNo", "accountId", balance, "taxId", "isOnline", "websiteId", "companyId", "branchId", "isActive", "createdBy", "createdDt", "updatedDt", "updatedBy") FROM stdin;
\.


--
-- Data for Name: tbl_customer_addr; Type: TABLE DATA; Schema: public; Owner: auraauser
--

COPY public.tbl_customer_addr (id, "customerId", address1, address2, "countryId", "stateId", "cityId", pincode, phone, "emailId", "whatsappNo", "isActive", "createdBy", "createdDt", "updatedDt", "updatedBy", "companyId", "branchId", "isShippingDefault") FROM stdin;
\.


--
-- Data for Name: tbl_items; Type: TABLE DATA; Schema: public; Owner: auraauser
--



--
-- Data for Name: tbl_online_sales; Type: TABLE DATA; Schema: public; Owner: auraauser
--

COPY public.tbl_online_sales (id, customerid, customeraddrid, "websiteId", transno, transdt, status, discountcode, discountper, discount, totalamt, roundamt, "grandAmt", "companyId", "branchId", "isActive", "createdBy", "createdDt", "updatedDt", "updatedBy") FROM stdin;
\.


--
-- Data for Name: tbl_onlinesales_items; Type: TABLE DATA; Schema: public; Owner: auraauser
--

COPY public.tbl_onlinesales_items (id, "onlineSalesId", "itemId", "itemName", "itemCode", rate, mrp, qty, "freeQty", "discountPer", "discountAmt", unit, "taxPer", "taxName", "taxAmt", "itemTotal", "companyId", "branchId", "isActive", "createdBy", "createdDt", "updatedDt", "updatedBy") FROM stdin;
\.


--
-- Data for Name: tbl_pricelist; Type: TABLE DATA; Schema: public; Owner: auraauser
--

COPY public.tbl_pricelist (id, "listName", "listDesc", "companyId", "branchId", "isActive", "createdBy", "createdDt", "updatedDt", "updatedBy") FROM stdin;
\.


--
-- Data for Name: tbl_pricelist_items; Type: TABLE DATA; Schema: public; Owner: auraauser
--

COPY public.tbl_pricelist_items (id, "pricelistId", "itemId", unit, "purchaseRate", "purchaseRateInc", "sellingPrice", "customerSp", "shownValues", "shownValueDisc", "salesCost", "companyId", "branchId", "isActive", "createdBy", "createdDt", "updatedDt", "updatedBy") FROM stdin;
\.


--
-- Data for Name: tbl_role; Type: TABLE DATA; Schema: public; Owner: auraauser
--

COPY public.tbl_role (id, name, descr, "companyId", "branchId", "isActive", "createdBy", "createdDt", "updatedDt", "updatedBy") FROM stdin;
1	Super Admin	\N	1	1	t	\N	2026-03-20 18:16:29.30569+00	2026-03-20 18:16:29.30569+00	\N
2	Admin	\N	1	1	t	\N	2026-03-20 18:16:29.30569+00	2026-03-20 18:16:29.30569+00	\N
3	Online Customers	\N	1	1	t	\N	2026-03-20 18:16:29.30569+00	2026-03-20 18:16:29.30569+00	\N
4	Users	\N	1	1	t	\N	2026-03-20 18:16:29.30569+00	2026-03-20 18:16:29.30569+00	\N
\.


--
-- Data for Name: tbl_serialno; Type: TABLE DATA; Schema: public; Owner: auraauser
--

COPY public.tbl_serialno (id, "tableName", "prefixNo", "nextNo", "suffixNo", "companyId", "branchId", "isActive", "createdBy", "createdDt", "updatedDt", "updatedBy", "sequenceNo") FROM stdin;
1	tbl_online_sales	SO	202600	\N	1	1	t	\N	2026-03-20 18:16:29.302391+00	2026-03-22 00:54:12.446177+00	\N	2
\.


--
-- Data for Name: tbl_state; Type: TABLE DATA; Schema: public; Owner: auraauser
--



--
-- Data for Name: tbl_units; Type: TABLE DATA; Schema: public; Owner: auraauser
--

COPY public.tbl_units (id, name, code, descr, "convFactor", "companyId", "branchId", "isActive", "createdBy", "createdDt", "updatedDt", "updatedBy") FROM stdin;
\.


--
-- Data for Name: tbl_users; Type: TABLE DATA; Schema: public; Owner: auraauser
--

COPY public.tbl_users (id, "userName", "fullName", "mobileNo", "emailId", password, "roleId", "companyId", "branchId", "lastLogin", "passwordResetToken", "onlineCustomerId", "isActive", "createdBy", "createdDt", "updatedDt", "updatedBy") FROM stdin;
\.


--
-- Data for Name: tbl_users_addr; Type: TABLE DATA; Schema: public; Owner: auraauser
--

COPY public.tbl_users_addr (id, userid, address, countryid, stateid, city, pincode, isactive, createdby, createddt, updateddt, updatedby) FROM stdin;
\.


--
-- Data for Name: tbl_websitelist; Type: TABLE DATA; Schema: public; Owner: auraauser
--

COPY public.tbl_websitelist (id, "websiteName", "companyId", "branchId", "isActive", "createdBy", "createdDt", "updatedBy", "updatedDt") FROM stdin;
1	AuraaBooks	1	1	t	1	2026-03-20 18:16:29.29733+00	\N	2026-03-20 18:16:29.29733+00
2	AuraaCrackers	1	1	t	1	2026-03-20 18:16:29.29733+00	\N	2026-03-20 18:16:29.29733+00
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: auraauser
--

COPY public.users (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined, phone, address) FROM stdin;
\.


--
-- Data for Name: users_groups; Type: TABLE DATA; Schema: public; Owner: auraauser
--

COPY public.users_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: users_user_permissions; Type: TABLE DATA; Schema: public; Owner: auraauser
--

COPY public.users_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 56, true);


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.categories_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 14, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 39, true);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.products_id_seq', 1, false);


--
-- Name: tbl_branch_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.tbl_branch_id_seq', 1, true);


--
-- Name: tbl_cart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.tbl_cart_id_seq', 1, false);


--
-- Name: tbl_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.tbl_category_id_seq', 1, false);


--
-- Name: tbl_city_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.tbl_city_id_seq', 122, true);


--
-- Name: tbl_company_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.tbl_company_id_seq', 1, true);


--
-- Name: tbl_country_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.tbl_country_id_seq', 1, true);


--
-- Name: tbl_coupons_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.tbl_coupons_id_seq', 1, true);


--
-- Name: tbl_customer_addr_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.tbl_customer_addr_id_seq', 1, false);


--
-- Name: tbl_customer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.tbl_customer_id_seq', 1, false);


--
-- Name: tbl_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.tbl_items_id_seq', 1, false);


--
-- Name: tbl_online_sales_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.tbl_online_sales_id_seq', 1, false);


--
-- Name: tbl_onlinesales_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.tbl_onlinesales_items_id_seq', 1, false);


--
-- Name: tbl_pricelist_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.tbl_pricelist_id_seq', 1, false);


--
-- Name: tbl_pricelist_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.tbl_pricelist_items_id_seq', 1, false);


--
-- Name: tbl_role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.tbl_role_id_seq', 4, true);


--
-- Name: tbl_serialno_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.tbl_serialno_id_seq', 1, true);


--
-- Name: tbl_state_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.tbl_state_id_seq', 36, true);


--
-- Name: tbl_units_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.tbl_units_id_seq', 1, false);


--
-- Name: tbl_users_addr_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.tbl_users_addr_id_seq', 1, false);


--
-- Name: tbl_users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.tbl_users_id_seq', 1, false);


--
-- Name: tbl_websitelist_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.tbl_websitelist_id_seq', 2, true);


--
-- Name: users_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.users_groups_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: users_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auraauser
--

SELECT pg_catalog.setval('public.users_user_permissions_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: categories categories_name_key; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_name_key UNIQUE (name);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: tbl_branch tbl_branch_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_branch
    ADD CONSTRAINT tbl_branch_pkey PRIMARY KEY (id);


--
-- Name: tbl_cart tbl_cart_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_cart
    ADD CONSTRAINT tbl_cart_pkey PRIMARY KEY (id);


--
-- Name: tbl_category tbl_category_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_category
    ADD CONSTRAINT tbl_category_pkey PRIMARY KEY (id);


--
-- Name: tbl_city tbl_city_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_city
    ADD CONSTRAINT tbl_city_pkey PRIMARY KEY (id);


--
-- Name: tbl_company tbl_company_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_company
    ADD CONSTRAINT tbl_company_pkey PRIMARY KEY (id);


--
-- Name: tbl_country tbl_country_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_country
    ADD CONSTRAINT tbl_country_pkey PRIMARY KEY (id);


--
-- Name: tbl_coupons tbl_coupons_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_coupons
    ADD CONSTRAINT tbl_coupons_pkey PRIMARY KEY (id);


--
-- Name: tbl_customer_addr tbl_customer_addr_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_customer_addr
    ADD CONSTRAINT tbl_customer_addr_pkey PRIMARY KEY (id);


--
-- Name: tbl_customer tbl_customer_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_customer
    ADD CONSTRAINT tbl_customer_pkey PRIMARY KEY (id);


--
-- Name: tbl_items tbl_items_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_items
    ADD CONSTRAINT tbl_items_pkey PRIMARY KEY (id);


--
-- Name: tbl_online_sales tbl_online_sales_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_online_sales
    ADD CONSTRAINT tbl_online_sales_pkey PRIMARY KEY (id);


--
-- Name: tbl_onlinesales_items tbl_onlinesales_items_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_onlinesales_items
    ADD CONSTRAINT tbl_onlinesales_items_pkey PRIMARY KEY (id);


--
-- Name: tbl_pricelist_items tbl_pricelist_items_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_pricelist_items
    ADD CONSTRAINT tbl_pricelist_items_pkey PRIMARY KEY (id);


--
-- Name: tbl_pricelist tbl_pricelist_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_pricelist
    ADD CONSTRAINT tbl_pricelist_pkey PRIMARY KEY (id);


--
-- Name: tbl_role tbl_role_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_role
    ADD CONSTRAINT tbl_role_pkey PRIMARY KEY (id);


--
-- Name: tbl_serialno tbl_serialno_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_serialno
    ADD CONSTRAINT tbl_serialno_pkey PRIMARY KEY (id);


--
-- Name: tbl_state tbl_state_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_state
    ADD CONSTRAINT tbl_state_pkey PRIMARY KEY (id);


--
-- Name: tbl_units tbl_units_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_units
    ADD CONSTRAINT tbl_units_pkey PRIMARY KEY (id);


--
-- Name: tbl_users_addr tbl_users_addr_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_users_addr
    ADD CONSTRAINT tbl_users_addr_pkey PRIMARY KEY (id);


--
-- Name: tbl_users tbl_users_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_users
    ADD CONSTRAINT tbl_users_pkey PRIMARY KEY (id);


--
-- Name: tbl_websitelist tbl_websitelist_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_websitelist
    ADD CONSTRAINT tbl_websitelist_pkey PRIMARY KEY (id);


--
-- Name: users_groups users_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.users_groups
    ADD CONSTRAINT users_groups_pkey PRIMARY KEY (id);


--
-- Name: users_groups users_groups_user_id_group_id_fc7788e8_uniq; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.users_groups
    ADD CONSTRAINT users_groups_user_id_group_id_fc7788e8_uniq UNIQUE (user_id, group_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users_user_permissions users_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.users_user_permissions
    ADD CONSTRAINT users_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: users_user_permissions users_user_permissions_user_id_permission_id_3b86cbdf_uniq; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.users_user_permissions
    ADD CONSTRAINT users_user_permissions_user_id_permission_id_3b86cbdf_uniq UNIQUE (user_id, permission_id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: auraauser
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: auraauser
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: auraauser
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: auraauser
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: categories_is_active_59a0f5bd; Type: INDEX; Schema: public; Owner: auraauser
--

CREATE INDEX categories_is_active_59a0f5bd ON public.categories USING btree (is_active);


--
-- Name: categories_name_09afee77_like; Type: INDEX; Schema: public; Owner: auraauser
--

CREATE INDEX categories_name_09afee77_like ON public.categories USING btree (name varchar_pattern_ops);


--
-- Name: categories_order_3f1119ab; Type: INDEX; Schema: public; Owner: auraauser
--

CREATE INDEX categories_order_3f1119ab ON public.categories USING btree ("order");


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: auraauser
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: auraauser
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: auraauser
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: auraauser
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: products_category_id_a7a3a156; Type: INDEX; Schema: public; Owner: auraauser
--

CREATE INDEX products_category_id_a7a3a156 ON public.products USING btree (category_id);


--
-- Name: products_code_770e3a_idx; Type: INDEX; Schema: public; Owner: auraauser
--

CREATE INDEX products_code_770e3a_idx ON public.products USING btree (code);


--
-- Name: products_code_a66283f3; Type: INDEX; Schema: public; Owner: auraauser
--

CREATE INDEX products_code_a66283f3 ON public.products USING btree (code);


--
-- Name: products_code_a66283f3_like; Type: INDEX; Schema: public; Owner: auraauser
--

CREATE INDEX products_code_a66283f3_like ON public.products USING btree (code varchar_pattern_ops);


--
-- Name: products_is_active_4d0bbafa; Type: INDEX; Schema: public; Owner: auraauser
--

CREATE INDEX products_is_active_4d0bbafa ON public.products USING btree (is_active);


--
-- Name: products_name_4a89b61d; Type: INDEX; Schema: public; Owner: auraauser
--

CREATE INDEX products_name_4a89b61d ON public.products USING btree (name);


--
-- Name: products_name_4a89b61d_like; Type: INDEX; Schema: public; Owner: auraauser
--

CREATE INDEX products_name_4a89b61d_like ON public.products USING btree (name varchar_pattern_ops);


--
-- Name: products_name_a9a494_idx; Type: INDEX; Schema: public; Owner: auraauser
--

CREATE INDEX products_name_a9a494_idx ON public.products USING btree (name, category_id);


--
-- Name: products_price_2104b53c; Type: INDEX; Schema: public; Owner: auraauser
--

CREATE INDEX products_price_2104b53c ON public.products USING btree (price);


--
-- Name: users_email_4b85f2_idx; Type: INDEX; Schema: public; Owner: auraauser
--

CREATE INDEX users_email_4b85f2_idx ON public.users USING btree (email);


--
-- Name: users_groups_group_id_2f3517aa; Type: INDEX; Schema: public; Owner: auraauser
--

CREATE INDEX users_groups_group_id_2f3517aa ON public.users_groups USING btree (group_id);


--
-- Name: users_groups_user_id_f500bee5; Type: INDEX; Schema: public; Owner: auraauser
--

CREATE INDEX users_groups_user_id_f500bee5 ON public.users_groups USING btree (user_id);


--
-- Name: users_user_permissions_permission_id_6d08dcd2; Type: INDEX; Schema: public; Owner: auraauser
--

CREATE INDEX users_user_permissions_permission_id_6d08dcd2 ON public.users_user_permissions USING btree (permission_id);


--
-- Name: users_user_permissions_user_id_92473840; Type: INDEX; Schema: public; Owner: auraauser
--

CREATE INDEX users_user_permissions_user_id_92473840 ON public.users_user_permissions USING btree (user_id);


--
-- Name: users_usernam_baeb4b_idx; Type: INDEX; Schema: public; Owner: auraauser
--

CREATE INDEX users_usernam_baeb4b_idx ON public.users USING btree (username);


--
-- Name: users_username_e8658fc8_like; Type: INDEX; Schema: public; Owner: auraauser
--

CREATE INDEX users_username_e8658fc8_like ON public.users USING btree (username varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_users_id FOREIGN KEY (user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products products_category_id_a7a3a156_fk_categories_id; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_category_id_a7a3a156_fk_categories_id FOREIGN KEY (category_id) REFERENCES public.categories(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tbl_branch tbl_branch_cityid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_branch
    ADD CONSTRAINT tbl_branch_cityid_fkey FOREIGN KEY (cityid) REFERENCES public.tbl_city(id);


--
-- Name: tbl_branch tbl_branch_companyid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_branch
    ADD CONSTRAINT tbl_branch_companyid_fkey FOREIGN KEY ("companyId") REFERENCES public.tbl_company(id);


--
-- Name: tbl_branch tbl_branch_countryid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_branch
    ADD CONSTRAINT tbl_branch_countryid_fkey FOREIGN KEY (countryid) REFERENCES public.tbl_country(id);


--
-- Name: tbl_branch tbl_branch_stateid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_branch
    ADD CONSTRAINT tbl_branch_stateid_fkey FOREIGN KEY (stateid) REFERENCES public.tbl_state(id);


--
-- Name: tbl_cart tbl_cart_branchid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_cart
    ADD CONSTRAINT tbl_cart_branchid_fkey FOREIGN KEY ("branchId") REFERENCES public.tbl_branch(id);


--
-- Name: tbl_cart tbl_cart_companyid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_cart
    ADD CONSTRAINT tbl_cart_companyid_fkey FOREIGN KEY ("companyId") REFERENCES public.tbl_company(id);


--
-- Name: tbl_cart tbl_cart_itemid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_cart
    ADD CONSTRAINT tbl_cart_itemid_fkey FOREIGN KEY ("itemId") REFERENCES public.tbl_items(id);


--
-- Name: tbl_cart tbl_cart_userid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_cart
    ADD CONSTRAINT tbl_cart_userid_fkey FOREIGN KEY ("userId") REFERENCES public.tbl_users(id);


--
-- Name: tbl_category tbl_category_branchid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_category
    ADD CONSTRAINT tbl_category_branchid_fkey FOREIGN KEY ("branchId") REFERENCES public.tbl_branch(id);


--
-- Name: tbl_category tbl_category_companyid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_category
    ADD CONSTRAINT tbl_category_companyid_fkey FOREIGN KEY ("companyId") REFERENCES public.tbl_company(id);


--
-- Name: tbl_city tbl_city_stateid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_city
    ADD CONSTRAINT tbl_city_stateid_fkey FOREIGN KEY ("stateId") REFERENCES public.tbl_state(id);


--
-- Name: tbl_company tbl_company_cityid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_company
    ADD CONSTRAINT tbl_company_cityid_fkey FOREIGN KEY (cityid) REFERENCES public.tbl_city(id);


--
-- Name: tbl_company tbl_company_countryid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_company
    ADD CONSTRAINT tbl_company_countryid_fkey FOREIGN KEY (countryid) REFERENCES public.tbl_country(id);


--
-- Name: tbl_company tbl_company_stateid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_company
    ADD CONSTRAINT tbl_company_stateid_fkey FOREIGN KEY (stateid) REFERENCES public.tbl_state(id);


--
-- Name: tbl_coupons tbl_coupons_branchid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_coupons
    ADD CONSTRAINT tbl_coupons_branchid_fkey FOREIGN KEY ("branchId") REFERENCES public.tbl_branch(id);


--
-- Name: tbl_coupons tbl_coupons_companyid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_coupons
    ADD CONSTRAINT tbl_coupons_companyid_fkey FOREIGN KEY ("companyId") REFERENCES public.tbl_company(id);


--
-- Name: tbl_customer_addr tbl_customer_addr_cityid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_customer_addr
    ADD CONSTRAINT tbl_customer_addr_cityid_fkey FOREIGN KEY ("cityId") REFERENCES public.tbl_city(id);


--
-- Name: tbl_customer_addr tbl_customer_addr_countryid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_customer_addr
    ADD CONSTRAINT tbl_customer_addr_countryid_fkey FOREIGN KEY ("countryId") REFERENCES public.tbl_country(id);


--
-- Name: tbl_customer_addr tbl_customer_addr_customerid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_customer_addr
    ADD CONSTRAINT tbl_customer_addr_customerid_fkey FOREIGN KEY ("customerId") REFERENCES public.tbl_customer(id);


--
-- Name: tbl_customer_addr tbl_customer_addr_stateid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_customer_addr
    ADD CONSTRAINT tbl_customer_addr_stateid_fkey FOREIGN KEY ("stateId") REFERENCES public.tbl_state(id);


--
-- Name: tbl_customer tbl_customer_branchid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_customer
    ADD CONSTRAINT tbl_customer_branchid_fkey FOREIGN KEY ("branchId") REFERENCES public.tbl_branch(id);


--
-- Name: tbl_customer tbl_customer_companyid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_customer
    ADD CONSTRAINT tbl_customer_companyid_fkey FOREIGN KEY ("companyId") REFERENCES public.tbl_company(id);


--
-- Name: tbl_customer tbl_customer_websiteid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_customer
    ADD CONSTRAINT tbl_customer_websiteid_fkey FOREIGN KEY ("websiteId") REFERENCES public.tbl_websitelist(id);


--
-- Name: tbl_items tbl_items_branchid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_items
    ADD CONSTRAINT tbl_items_branchid_fkey FOREIGN KEY ("branchId") REFERENCES public.tbl_branch(id);


--
-- Name: tbl_items tbl_items_categoryid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_items
    ADD CONSTRAINT tbl_items_categoryid_fkey FOREIGN KEY ("categoryId") REFERENCES public.tbl_category(id);


--
-- Name: tbl_items tbl_items_companyid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_items
    ADD CONSTRAINT tbl_items_companyid_fkey FOREIGN KEY ("companyId") REFERENCES public.tbl_company(id);


--
-- Name: tbl_items tbl_items_unitid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_items
    ADD CONSTRAINT tbl_items_unitid_fkey FOREIGN KEY ("unitId") REFERENCES public.tbl_units(id);


--
-- Name: tbl_online_sales tbl_online_sales_branchid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_online_sales
    ADD CONSTRAINT tbl_online_sales_branchid_fkey FOREIGN KEY ("branchId") REFERENCES public.tbl_branch(id);


--
-- Name: tbl_online_sales tbl_online_sales_companyid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_online_sales
    ADD CONSTRAINT tbl_online_sales_companyid_fkey FOREIGN KEY ("companyId") REFERENCES public.tbl_company(id);


--
-- Name: tbl_online_sales tbl_online_sales_customeraddrid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_online_sales
    ADD CONSTRAINT tbl_online_sales_customeraddrid_fkey FOREIGN KEY (customeraddrid) REFERENCES public.tbl_customer_addr(id);


--
-- Name: tbl_online_sales tbl_online_sales_customerid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_online_sales
    ADD CONSTRAINT tbl_online_sales_customerid_fkey FOREIGN KEY (customerid) REFERENCES public.tbl_customer(id);


--
-- Name: tbl_online_sales tbl_online_sales_websiteid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_online_sales
    ADD CONSTRAINT tbl_online_sales_websiteid_fkey FOREIGN KEY ("websiteId") REFERENCES public.tbl_websitelist(id);


--
-- Name: tbl_onlinesales_items tbl_onlinesales_items_branchid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_onlinesales_items
    ADD CONSTRAINT tbl_onlinesales_items_branchid_fkey FOREIGN KEY ("branchId") REFERENCES public.tbl_branch(id);


--
-- Name: tbl_onlinesales_items tbl_onlinesales_items_companyid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_onlinesales_items
    ADD CONSTRAINT tbl_onlinesales_items_companyid_fkey FOREIGN KEY ("companyId") REFERENCES public.tbl_company(id);


--
-- Name: tbl_onlinesales_items tbl_onlinesales_items_itemid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_onlinesales_items
    ADD CONSTRAINT tbl_onlinesales_items_itemid_fkey FOREIGN KEY ("itemId") REFERENCES public.tbl_items(id);


--
-- Name: tbl_onlinesales_items tbl_onlinesales_items_onlinesalesid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_onlinesales_items
    ADD CONSTRAINT tbl_onlinesales_items_onlinesalesid_fkey FOREIGN KEY ("onlineSalesId") REFERENCES public.tbl_online_sales(id);


--
-- Name: tbl_pricelist tbl_pricelist_branchid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_pricelist
    ADD CONSTRAINT tbl_pricelist_branchid_fkey FOREIGN KEY ("branchId") REFERENCES public.tbl_branch(id);


--
-- Name: tbl_pricelist tbl_pricelist_companyid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_pricelist
    ADD CONSTRAINT tbl_pricelist_companyid_fkey FOREIGN KEY ("companyId") REFERENCES public.tbl_company(id);


--
-- Name: tbl_pricelist_items tbl_pricelist_items_branchid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_pricelist_items
    ADD CONSTRAINT tbl_pricelist_items_branchid_fkey FOREIGN KEY ("branchId") REFERENCES public.tbl_branch(id);


--
-- Name: tbl_pricelist_items tbl_pricelist_items_companyid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_pricelist_items
    ADD CONSTRAINT tbl_pricelist_items_companyid_fkey FOREIGN KEY ("companyId") REFERENCES public.tbl_company(id);


--
-- Name: tbl_pricelist_items tbl_pricelist_items_itemid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_pricelist_items
    ADD CONSTRAINT tbl_pricelist_items_itemid_fkey FOREIGN KEY ("itemId") REFERENCES public.tbl_items(id);


--
-- Name: tbl_pricelist_items tbl_pricelist_items_pricelistid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_pricelist_items
    ADD CONSTRAINT tbl_pricelist_items_pricelistid_fkey FOREIGN KEY ("pricelistId") REFERENCES public.tbl_pricelist(id);


--
-- Name: tbl_role tbl_role_branchid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_role
    ADD CONSTRAINT tbl_role_branchid_fkey FOREIGN KEY ("branchId") REFERENCES public.tbl_branch(id);


--
-- Name: tbl_role tbl_role_companyid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_role
    ADD CONSTRAINT tbl_role_companyid_fkey FOREIGN KEY ("companyId") REFERENCES public.tbl_company(id);


--
-- Name: tbl_serialno tbl_serialno_branchid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_serialno
    ADD CONSTRAINT tbl_serialno_branchid_fkey FOREIGN KEY ("branchId") REFERENCES public.tbl_branch(id);


--
-- Name: tbl_serialno tbl_serialno_companyid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_serialno
    ADD CONSTRAINT tbl_serialno_companyid_fkey FOREIGN KEY ("companyId") REFERENCES public.tbl_company(id);


--
-- Name: tbl_state tbl_state_countryid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_state
    ADD CONSTRAINT tbl_state_countryid_fkey FOREIGN KEY ("countryId") REFERENCES public.tbl_country(id);


--
-- Name: tbl_units tbl_units_branchid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_units
    ADD CONSTRAINT tbl_units_branchid_fkey FOREIGN KEY ("branchId") REFERENCES public.tbl_branch(id);


--
-- Name: tbl_units tbl_units_companyid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_units
    ADD CONSTRAINT tbl_units_companyid_fkey FOREIGN KEY ("companyId") REFERENCES public.tbl_company(id);


--
-- Name: tbl_users_addr tbl_users_addr_countryid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_users_addr
    ADD CONSTRAINT tbl_users_addr_countryid_fkey FOREIGN KEY (countryid) REFERENCES public.tbl_country(id);


--
-- Name: tbl_users_addr tbl_users_addr_stateid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_users_addr
    ADD CONSTRAINT tbl_users_addr_stateid_fkey FOREIGN KEY (stateid) REFERENCES public.tbl_state(id);


--
-- Name: tbl_users_addr tbl_users_addr_userid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_users_addr
    ADD CONSTRAINT tbl_users_addr_userid_fkey FOREIGN KEY (userid) REFERENCES public.tbl_users(id);


--
-- Name: tbl_users tbl_users_branchid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_users
    ADD CONSTRAINT tbl_users_branchid_fkey FOREIGN KEY ("branchId") REFERENCES public.tbl_branch(id);


--
-- Name: tbl_users tbl_users_companyid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_users
    ADD CONSTRAINT tbl_users_companyid_fkey FOREIGN KEY ("companyId") REFERENCES public.tbl_company(id);


--
-- Name: tbl_users tbl_users_onlinecustomerid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_users
    ADD CONSTRAINT tbl_users_onlinecustomerid_fkey FOREIGN KEY ("onlineCustomerId") REFERENCES public.tbl_customer(id);


--
-- Name: tbl_users tbl_users_roleid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_users
    ADD CONSTRAINT tbl_users_roleid_fkey FOREIGN KEY ("roleId") REFERENCES public.tbl_role(id);


--
-- Name: tbl_websitelist tbl_websitelist_branchid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_websitelist
    ADD CONSTRAINT tbl_websitelist_branchid_fkey FOREIGN KEY ("branchId") REFERENCES public.tbl_branch(id);


--
-- Name: tbl_websitelist tbl_websitelist_companyid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.tbl_websitelist
    ADD CONSTRAINT tbl_websitelist_companyid_fkey FOREIGN KEY ("companyId") REFERENCES public.tbl_company(id);


--
-- Name: users_groups users_groups_group_id_2f3517aa_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.users_groups
    ADD CONSTRAINT users_groups_group_id_2f3517aa_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_groups users_groups_user_id_f500bee5_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.users_groups
    ADD CONSTRAINT users_groups_user_id_f500bee5_fk_users_id FOREIGN KEY (user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_permissions users_user_permissio_permission_id_6d08dcd2_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.users_user_permissions
    ADD CONSTRAINT users_user_permissio_permission_id_6d08dcd2_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_permissions users_user_permissions_user_id_92473840_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: auraauser
--

ALTER TABLE ONLY public.users_user_permissions
    ADD CONSTRAINT users_user_permissions_user_id_92473840_fk_users_id FOREIGN KEY (user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: auraauser
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;
GRANT ALL ON SCHEMA public TO PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict LNtFYenZnT3ku6XjMudlMVatNcFVhp1MMrmwwHiNgnM5pMF0NgFwG8IpkIz8Irr

