# .env.example
DEBUG=True
SECRET_KEY=django-insecure-replace-this-with-a-real-one
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_NAME=auraacrackers
DB_USER=auraauser
DB_PASSWORD=auraapass
DB_HOST=db
DB_PORT=5432

# Redis & Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
CACHE_URL=redis://redis:6379/1
